# Configurações do Servidor
NODE_ENV=production
PORT=3000

# Supabase (Substitua pelos seus valores se necessário)
VITE_SUPABASE_URL=https://naepymixqonguigtgywy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_GQ_-1kwmbqosZdp6yi60MA_ixUbIADq

# Adicione outras variáveis de ambiente abaixo
